.detail-logo {
    margin-right: 20px;
}

.transaction-detail-id {
    background: none;
    border: none;
    pointer-events: none;
    font-weight: bold;
    color: #000000;
    font-size: 40px;
}

.format-transaction-detail {
    background: none;
    border: none;
    pointer-events: none;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
}

.transaction-detail-title {
    color: black;
    margin-right: 10px;
    font-size: 20px;
}

.transaction-detail-value {
    color: black;
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
}